# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

mock/node_modules/
mock/src/*.js
.DS_Store
mock/test-results/
mock/playwright-report/
mock/playwright/.cache/
